<!DOCTYPE html>
<html>
  <head>
    <title>Edit Journal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/journals/<%=journal._id%>?_method=PUT" method="POST">
        <div class="journal-form">
        <%= journal.createdAt.toDateString()%> <%=journal.createdAt.toLocaleTimeString() %>
        <textarea name="body" rows="10" cols="25" placeholder="Entry" required><%=journal.body%></textarea>
        <input type="submit" value="Submit">
        </div>
    </form>
  </body>
</html>