<!DOCTYPE html>
<html>
  <head>
      <title>Dr Diary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) { %>
      <a href="/logout">Log Out</a>

      <% if (!user.isDoctor) { %>
        <% if (!user.isStatusClicked) { %>
          <form action="/updateProfile" method="POST">
            <label>Status?</label>
            <label>Doctor</label>
            <input name="isDoctor" type="checkbox" value=true>
            <label>Patient</label>
            <input name="isDoctor" type="checkbox" value=false>
            <input type="submit" value="Submit">
          </form>
        <% } %>
      <% } %>
      <a href="/account">Account</a>

      <% } else { %>
      <a href="/auth/google">Login with Google</a>
      <p>Not Logged In</p>
    <% } %>
  </body>
</html>
