<!DOCTYPE html>
<html>
  <head>
    <title>Dr Diary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= journal.title %></h1>
    <p><%= journal.body %></p>
  </body>
</html>
