body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.profile-page {
  display: flex;
  justify-content: space-around;
}

.journal-form,
.patient-form {
  display: flex;
  flex-direction: column;
}

.patient-form {
  margin-top: 20px;
}

.patient-form > input {
  margin-top: 5px;
}

.patient-directory {
  display: flex;
  flex-direction: column;
}

.patients-info {
  display: flex;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}
